.sidenav {
    background: white;
    box-shadow: 1px 0px 9px 0px #726e6e;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 15%;
}

nav svg{
    width: 30px;
    height: 30px;
    margin: 4px 12px;
    cursor: pointer;
}
nav svg:hover{
    color: var(--col1);
}
nav .s1{
    width: 100%;
    height: 100px;
}
.s1 img{
    width: 100%;
    height: 100%;
}
nav .s1 .right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}
nav .cart{
    position: relative;
}
nav .cart .qty{
    background-color: var(--col1);
    color: white;
    border-radius: 50%;
    top : -2px;
    right: 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    text-align: center;

}

.nav-items{
    display: flex;
    padding: 5px;
    gap: 3%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
}
.nav-items li{
    list-style: none;
    margin-right: 10px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: #818181;
    display: block;
    display: flex;
    align-items: center;
}
.sidenav a:hover {
    color: black;
}

